<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />

    <title>Ace Writer - Summarizer Text</title>
    <meta content="" name="description" />
    <meta content="" name="keywords" />

    <!-- Favicons -->
    <link
      rel="icon"
      href="{{ url_for('static', filename='images/list.png') }}"
    />
    <!-- Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
      rel="stylesheet"
    />

    <!-- Vendor CSS Files -->
    <link href="../static/vendor/aos/aos.css" rel="stylesheet" />
    <link
      href="../static/vendor/bootstrap/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      href="../static/vendor/bootstrap-icons/bootstrap-icons.css"
      rel="stylesheet"
    />
    <link
      href="../static/vendor/boxicons/css/boxicons.min.css"
      rel="stylesheet"
    />
    <link
      href="../static/vendor/glightbox/css/glightbox.min.css"
      rel="stylesheet"
    />
    <link
      href="../static/vendor/swiper/swiper-bundle.min.css"
      rel="stylesheet"
    />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
      integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
      href="{{ url_for('static', filename='css/index.css') }}"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
  </head>

  <body>
    <i class="bi bi-list mobile-nav-toggle d-lg-none"></i>
    <!-- ======= navbar ======= -->
    <header id="header" class="d-flex flex-column justify-content-center">
      <nav id="navbar" class="navbar nav-menu">
        <ul>
          <li>
            <a href="{{ url_for('home') }}" class="nav-link scrollto active"
              ><i class="bx bx-home"></i><span>Home</span></a
            >
          </li>
          <li>
            <a href="{{ url_for('index') }}" class="nav-link scrollto"
              ><i class="fas fa-solid fa-gear"></i><span>Summarizer</span></a
            >
          </li>
          <li>
            <a href="{{ url_for('compare_summary') }}" class="nav-link scrollto"
              ><i class="fas fa-solid fa-scale-balanced"></i
              ><span>Comparer</span></a
            >
          </li>
          <li>
            <a href="{{ url_for('plagiarism') }}" class="nav-link scrollto"
              ><i class="bx bx-book-content"></i><span>Plagiarism</span></a
            >
          </li>
          <li>
            <a href="{{ url_for('file_converter') }}" class="nav-link scrollto"
              ><i class="bx bx-file-blank"></i><span>File converter</span></a
            >
          </li>
          <li>
            <a href="{{ url_for('essaygrader') }}" class="nav-link scrollto"
              ><i class="fas fa-light fa-file-pen"></i
              ><span>Essay grader</span></a
            >
          </li>
          <li>
            <a href="{{ url_for('aboutus') }}" class="nav-link scrollto"
              ><i class="bx bx-user"></i><span>About</span></a
            >
          </li>
        </ul>
      </nav>
      <!-- .nav-menu -->
    </header>
    <!-- End Header -->

    <div class="max-width">
      <nav class="nav-summary">
        <span>Summary generator</span>
      </nav>
    </div>

    <!----------------------------choose your input type button  -->
    <div class="choose-input">
      <div class="head">
        <h4>Choose your input type</h4>
      </div>
      <nav>
        <div class="row justify-content-center">
          <div class="col-sm-3">
            <button
              id="bottone5"
              class="tab-button"
              onclick="showSectionContent(1)"
            >
              <i class="fas fa-solid fa-text"></i> Text
            </button>
          </div>
          <div class="col-sm-3">
            <button
              id="bottone5"
              class="tab-button"
              onclick="showSectionContent(2)"
            >
              <i class="fas fa-solid fa-link"></i> Link
            </button>
          </div>
          <div class="col-sm-3">
            <button
              id="bottone5"
              class="tab-button"
              onclick="showSectionContent(3)"
            >
              <i class="fas fa-thin fa-file-pdf"></i> PDF
            </button>
          </div>
        </div>
      </nav>
    </div>

    <!-------------------------------------------------text-section--------------------- -->
    <section id="section1" class="tab-section">
      <div class="col">
        <form method="POST" action="/analyze">
          <textarea
            name="rawtext"
            cols="10"
            rows="10"
            placeholder="Enter your text here..."
          ></textarea>
          <input type="submit" class="summarize mt-5" value="Summarize" />
        </form>
      </div>
      <div class="text-result">
        <div class="row justify-content-between">
          <div class="col-md-6">
            <h4>Your Input Text</h4>
            <div class="result-box">
              <p>{{ ctext }}</p>
            </div>
            <p>Reading Time: {{ final_reading_time }} Minutes</p>
            <p>Time elapsed: {{ final_time }} Minutes</p>
          </div>
          <div class="col-md-6">
            <h4>Text Summary</h4>
            <div class="result-box">
              <p>{{ final_summary }}</p>
            </div>
            <p>Reading Time: {{ summary_reading_time }} Minutes</p>
            <p>Time elapsed: {{ final_time }} Minutes</p>
          </div>
        </div>
      </div>
    </section>

    <!------------------------------------link section---------------------------------------->
    <section id="section2" class="tab-section">
      <div class="col">
        <form method="POST" action="/analyze_url">
          <textarea
            name="raw_url"
            cols="1"
            rows="1"
            placeholder="Enter your URL here..."
          ></textarea>
          <input type="submit" class="summarize mt-5" value="Summarize" />
        </form>
      </div>
      <div class="text-result">
        <div class="row justify-content-between">
          <div class="col-md-6">
            <h4>Your Input Link</h4>
            <div class="result-box">
              <p>{{ ctext }}</p>
            </div>
            <p>Reading Time: {{ final_reading_time }} Minutes</p>
            <p>Time elapsed: {{ final_time }} Minutes</p>
          </div>
          <div class="col-md-6">
            <h4>Text Summary</h4>
            <div class="result-box">
              <p>{{ final_summary }}</p>
            </div>
            <p>Reading Time: {{ summary_reading_time }} Minutes</p>
            <p>Time elapsed: {{ final_time }} Minutes</p>
          </div>
        </div>
      </div>
    </section>

    <!--------------------------------------------pdf section----------------------------- -->
    <section id="section3" class="tab-section">
      <div class="col">
        <form method="POST" action="/analyze_pdf" enctype="multipart/form-data">
          <div class="file-input">
            <label class="file-input__label" for="file-input">
              <input
                type="file"
                accept=".pdf"
                id="file-input"
                name="pdf_file"
              />
              <span>Upload File/PDF</span>
            </label>
            <button type="submit" class="summarize mt-5">Summarize</button>
          </div>
        </form>
      </div>
      <div class="text-result">
        <div class="row justify-content-between">
          <div class="col-md-6">
            <h4>Your Input PDF Document</h4>
            <div class="result-box">
              <p>{{ ctext }}</p>
            </div>
            <p>Reading Time: {{ final_reading_time }} Minutes</p>
            <p>Time elapsed: {{ final_time }} Minutes</p>
          </div>
          <div class="col-md-6">
            <h4>Text Summary</h4>
            <div class="result-box">
              <p>{{ final_summary }}</p>
            </div>
            <p>Reading Time: {{ summary_reading_time }} Minutes</p>
            <p>Time elapsed: {{ final_time }} Minutes</p>
          </div>
        </div>
      </div>
    </section>

    <!-- ==========================================Footer ============================================ -->
    <footer id="footer">
      <span class="me-5"
        ><strong>Ace Writer</strong>© 2023 All Rights Reserved</span
      >
      <a class="navbar-brand" href="www.google.com">
        <span><i class="fa-sharp fas fa-solid fa-paper-plane"></i></span>
        Get in touch
      </a>
    </footer>

    <!--------------------back to top arrow  -->
    <div id="preloader"></div>
    <a
      href="#"
      class="back-to-top d-flex align-items-center justify-content-center"
      ><i class="bi bi-arrow-up-short"></i
    ></a>

    <!-- Vendor JS Files -->
    <script src="../static/vendor/purecounter/purecounter_vanilla.js"></script>
    <script src="../static/vendor/aos/aos.js"></script>
    <script src="../static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../static/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="../static/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="../static/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="../static/vendor/typed.js/typed.min.js"></script>
    <script src="../static/vendor/waypoints/noframework.waypoints.js"></script>
    <script src="../static/vendor/php-email-form/validate.js"></script>
    <script
      src="https://kit.fontawesome.com/8852fcb725.js"
      crossorigin="anonymous"
    ></script>
    <!-- Template Main JS File -->
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    <script src="{{ url_for('static', filename='js/summary.js') }}"></script>
  </body>
</html>
