<!DOCTYPE html>
<html lang="en">



<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Ace Writer - smmarizer text</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link rel="icon" href="{{ url_for('static', filename='images/list.png') }}">
    <!-- Google Fonts -->
    <link
        href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
        rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="../static/vendor/aos/aos.css" rel="stylesheet">
    <link href="../static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="../static/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="../static/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="../static/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="{{ url_for('static', filename='css/index.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/plagarism.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />

</head>

<body>
    <!-- <button type="button" class="mobile-nav-toggle d-xl-none"><i class="bi bi-list mobile-nav-toggle"></i></button> -->
    <i class="bi bi-list mobile-nav-toggle d-lg-none"></i>
    <!-- ======= navbar ======= -->
    <header id="header" class="d-flex flex-column justify-content-center">

        <nav id="navbar" class="navbar nav-menu">
            <ul>
                <li><a href="{{url_for('home')}}" class="nav-link scrollto active"><i class="bx bx-home"></i>
                        <span>Home</span></a></li>
                <li><a href="{{url_for('index')}}" class="nav-link scrollto"> <i
                            class=" fas fa-solid fa-gear"></i><span>Summarizer</span></a>
                </li>
                <li><a href="{{url_for('compare_summary')}}" class="nav-link scrollto"><i
                            class=" fas fa-solid fa-scale-balanced"></i> <span>Comparer</span></a>
                </li>
                <li><a href="{{url_for('plagarism')}}" class="nav-link scrollto"><i class="bx bx-book-content"></i>
                        <span>Plagarism</span></a>
                </li>
                <li><a href="{{url_for('file_converter')}}" class="nav-link scrollto"><i class="bx bx-file-blank"></i>
                        <span>File
                            converter</span></a></li>
                <li><a href="{{url_for('essaygrader')}}" class="nav-link scrollto"><i
                            class=" fas fa-light fa-file-pen"></i> <span>Essay
                            grader</span></a>
                </li>

                <li><a href="{{url_for('aboutus')}}" class="nav-link scrollto"><i
                            class="bx bx-user"></i><span>About</span></a></li>
            </ul>
            </ul>
        </nav><!-- .nav-menu -->
    </header><!-- End Header -->




    <section id="plagarism-text">
        <h3>plagarism</h3>
        <div class="col">
            <form action="welcome.php" method="post">
                <textarea name="" id="" cols="10" rows="10" placeholder="enter the text......."></textarea>
                <button class="summarize mt-5" type="button">check</button>
            </form>
        </div>



        <div class="per-plaga">
            <div class="plaga-result">
                <p>percentage of plagarism</p>
                <span>80%</span>
            </div>

            <h4>These are Plagarised</h4>
            <div class="per-plaga-text">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi voluptas incidunt eius blanditiis
                    minus impedit maiores magni consequuntur non fuga consectetur amet fugit similique, molestiae quia
                    ab debitis expedita accusamus aspernatur cupiditate itaque ut. Consectetur in nihil maiores
                    itia debitis!
                </p>
            </div>

            <div class="plaga-checkbox">
                <h4>do you want paraplurate it ?</h4>
                <div class="check-box">
                    <div class="yes">
                        <h5>YES ?</h5>
                        <form action="" method="">
                            <input type="checkbox" name="" id="">
                        </form>
                    </div>
                    <div class="no">
                        <h5>NO ?</h5>
                        <form action="" method="">
                            <input type="checkbox" name="" value="NO">
                        </form>

                    </div>
                </div>



                <div class="per-plaga-text mt-5">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi voluptas incidunt eius blanditiis
                        minus impedit maiores magni consequuntur non fuga consectetur amet fugit similique, molestiae
                        quia
                        ab debitis expedita accusamus aspernatur cupiditate itaque ut. Consectetur in nihil maiores
                        itia debitis!
                    </p>
                </div>
            </div>
        </div>
    </section>
















    <!-- ==========================================Footer =======  -->
    <footer id="footer">
        <span class="me-5"><strong>Ace Writer</strong>© 2023 All Rights Reserved</span> <a class=" navbar-brand"
            href="www.google.com"> <span><i class="fa-sharp fas fa-solid fa-paper-plane"></i></span>
            Get in touch</a>
    </footer>


    <!--------------------back to top arrow  -->
    <div id="preloader"></div>
    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
            class="bi bi-arrow-up-short"></i></a>











    <!-- Vendor JS Files -->
    <script src="../static/vendor/purecounter/purecounter_vanilla.js"></script>
    <script src="../static/vendor/aos/aos.js"></script>
    <script src="../static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../static/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="../static/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="../static/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="../static/vendor/typed.js/typed.min.js"></script>
    <script src="../static/vendor/waypoints/noframework.waypoints.js"></script>
    <script src="../static/vendor/php-email-form/validate.js"></script>
    <script src="https://kit.fontawesome.com/8852fcb725.js" crossorigin="anonymous"></script>
    <!-- Template Main JS File -->
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    <script src="{{ url_for('static', filename='js/summary.js') }}"></script>


</body>

</html>